# ==========================================
# INFRASTRUCTURE (Terraform)
# ==========================================
infra/
.terraform/
*.tfstate*
*.tfvars
*.tfplan
.terraform.lock.hcl

# ==========================================
# SECRETS AND CONFIGURATION (K8s / Airflow)
# ==========================================
secrets-*.yaml
.env
config/airflow.cfg
webserver_config.py
auth/

# ==========================================
# DATA AND PERSISTENCE (Local)
# ==========================================
*.db
*.duckdb
*.parquet
*.sqlite
data/
temp/
logs/

# ==========================================
# PYTHON AND ENVIRONMENTS
# ==========================================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/

# ==========================================
# GIT AND EDITORS
# ==========================================
.git
.gitignore
.dockerignore
.idea/
.vscode/
*.swp

# ==========================================
# DBT
# ==========================================
crypto_analytics/target/
crypto_analytics/dbt_packages/
crypto_analytics/logs/
